@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Poppins:wght@300;400;500;600;700;800&family=Public+Sans:wght@300;400;800&family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@300;400;700&display=swap');

body{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 62.5%;
    font-weight: 500;
    color: var(--desaturated-blue);
}

main{
    background: url(../images/pattern-background-desktop.svg) no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--pale-blue);
}

.card{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    max-height: 810px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.propaganda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 46px 48px;
}

.propaganda .title{
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 2.8em;
}

.propaganda .text{
    padding: 18px;
    text-align: center;
    line-height: 26px;
    font-size: 1.6em;
}

.propaganda .offer-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 24px 25px;
    background-color: var(--very-pale-blue);
    border-radius: 15px;
}

.propaganda .offer-box .icon-side{
    display: flex;
    gap: 20px;
}

.propaganda .offer-box .plan-price{
    line-height: 25px;
    text-align: center;
    font-size: 1.3em;
}

.propaganda .offer-box .plan-price .plan{
    color: var(--dark-blue);
    font-weight: 900;
}

.propaganda .offer-box .change{
    font-size: 1.3em;
    font-weight: 700;
    color: var(--bright-blue);
}

.propaganda .offer-box .change:hover{
    font-weight: 900;
    text-decoration: none;
    color: var(--violet-blue);
}

.propaganda .payment-btn{
    margin: 30px 0;
    padding: 16px 0;
    width: 100%;
    border: none;
    border-radius: 1em;
    background-color: var(--bright-blue);
    color: #fff;
    font-weight: 700;
    font-size: 1.55em;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    box-shadow: 0px 24px 52px 0px hsla(245, 75%, 52%,0.5);
    -webkit-box-shadow: 0px 24px 52px 0px rgba(56,41,224,0.48);
    -moz-box-shadow: 0px 24px 52px 0px rgba(56,41,224,0.48);
}

.propaganda .payment-btn:hover{
    background-color: var(--violet-blue);
    transform: scale(1.02);
}

.propaganda .cancel{
    text-decoration: none;
    color: var(--desaturated-blue);
    font-weight: 700;
    font-size: 1.5em;
}

.propaganda .cancel:hover{
    font-weight: 900;
    color: var(--dark-blue);
}


